<a href="https://colab.research.google.com/github/sudirja18/tugas-machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
path_="/content/drive/My Drive/covid_19_indonesia_time_series_all.csv"
dataset=pd.read_csv(path_)
dataset

            Date  ... Growth Factor of New Deaths
0       3/1/2020  ...                         NaN
1       3/2/2020  ...                         1.0
2       3/2/2020  ...                         NaN
3       3/2/2020  ...                         NaN
4       3/3/2020  ...                         1.0
...          ...  ...                         ...
7092  10/11/2020  ...                         NaN
7093  10/11/2020  ...                         1.0
7094  10/11/2020  ...                         0.6
7095  10/11/2020  ...                         0.0
7096  10/11/2020  ...                         NaN

[7097 rows x 37 columns]

In [6]:
dataset.head()

       Date  ... Growth Factor of New Deaths
0  3/1/2020  ...                         NaN
1  3/2/2020  ...                         1.0
2  3/2/2020  ...                         NaN
3  3/2/2020  ...                         NaN
4  3/3/2020  ...                         1.0

[5 rows x 37 columns]

In [7]:
dataset.shape

(7097, 37)

In [8]:
dataset.max()

Date                                 9/9/2020
Location ISO Code                         IDN
Location                       Sumatera Utara
New Cases                                4850
New Deaths                                160
New Recovered                            4510
New Active Cases                         1533
Total Cases                            333449
Total Deaths                            11844
Total Recovered                        255027
Total Active Cases                      66578
Location Level                       Province
City or Regency                           NaN
Country                             Indonesia
Continent                                Asia
Total Regencies                           416
Total Cities                               98
Total Districts                          7230
Total Urban Villages                     8488
Total Rural Villages                    74953
Area (km2)                            1916907
Population                          265185520
Population Density                    16334.3
Longitude                             138.696
Latitude                              4.22561
New Cases per Million                   184.1
Total Cases per Million               8017.87
New Deaths per Million                    7.6
Total Deaths per Million               174.16
Case Fatality Rate                      9.99%
Case Recovered Rate                    98.89%
Growth Factor of New Cases                 92
Growth Factor of New Deaths                27
dtype: object

In [14]:
dataset.min()

Date                           10/1/2020
Location ISO Code                  ID-AC
Location                            Aceh
New Cases                              0
New Deaths                             0
New Recovered                          0
New Active Cases                   -1762
Total Cases                            1
Total Deaths                           0
Total Recovered                        0
Total Active Cases                   -33
Location Level                   Country
City or Regency                      NaN
Country                        Indonesia
Continent                           Asia
Total Regencies                        1
Total Cities                           1
Total Districts                       44
Total Urban Villages                  35
Total Rural Villages                 275
Area (km2)                           664
Population                        648407
Population Density                  8.59
Longitude                        96.9105
Latitude                         -8.6822
New Cases per Million                  0
Total Cases per Million             0.01
New Deaths per Million                 0
Total Deaths per Million               0
Case Fatality Rate                 0.00%
Case Recovered Rate                0.00%
Growth Factor of New Cases             0
Growth Factor of New Deaths            0
dtype: object

In [16]:
dataset.describe()

         New Cases  ...  Growth Factor of New Deaths
count  7097.000000  ...                  6226.000000
mean     93.874595  ...                     0.974846
std     368.150061  ...                     0.963323
min       0.000000  ...                     0.000000
25%       1.000000  ...                     1.000000
50%      10.000000  ...                     1.000000
75%      49.000000  ...                     1.000000
max    4850.000000  ...                    27.000000

[8 rows x 25 columns]

In [24]:
dataset.describe().loc['max','New Deaths']

160.0

In [26]:
dataset.describe()['New Cases']['max']

4850.0

In [27]:
data=dataset.dropna()

In [29]:
data.shape

(0, 37)

In [31]:
dataset.dropna(axis=0,subset=['New Cases','New Deaths'],inplace=True)

In [32]:
dataset.shape

(7097, 37)

In [36]:
#Memilih target prediksi(prediction target)
y=data['New Cases']
y

Series([], Name: New Cases, dtype: int64)

In [46]:
#Memilih fitur (feature selection)
fitur=['New Cases','Date']
X=data[fitur]
X

Empty DataFrame
Columns: [New Cases, Date]
Index: []