<a href="https://colab.research.google.com/github/sudirja18/tugas-machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
path_="/content/drive/My Drive/dataset/praktikum_2_machine.csv"
dataset=pd.read_csv(path_)
dataset

   Customer Number     Customer Name          2016  ... Day  Year Active
0           100002  Quest Industries  $125,000.00   ...  10  2015      Y
1           552278    Smith Plumbing  $920,000.00   ...  15  2014      Y
2            23477   ACME Industrial   $50,000.00   ...  29  2016      Y
3            24900        Brekke LTD  $350,000.00   ...  27  2015      Y
4           651029         Harbor Co   $15,000.00   ...   2  2014      N

[5 rows x 10 columns]

In [6]:
dataset['2016'] + dataset['2017']

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3      $350,000.00 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [7]:
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: int64(4), object(6)
memory usage: 528.0+ bytes

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: int64(4), object(6)
memory usage: 528.0+ bytes

In [10]:
dataset["Customer Number"] = dataset['Customer Number'].astype('int')
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [13]:
dataset['2016'].astype('float')

ValueError: ignored

In [14]:
dataset['Jan Units'].astype('int')

ValueError: ignored

In [15]:
dataset['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [18]:
def convert_currency(val):

SyntaxError: ignored

In [19]:
dataset['2016'].apply(convert_currency)

NameError: ignored

In [20]:
dataset['2017']

0      $162,500.00
1    $1,012,000.00
2       $62,500.00
3      $490,000.00
4       $12,750.00
Name: 2017, dtype: object

In [21]:
dataset['2016']

0    $125,000.00
1    $920,000.00
2     $50,000.00
3    $350,000.00
4     $15,000.00
Name: 2016, dtype: object

In [22]:
dataset['2016'] + dataset['2017']

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3      $350,000.00 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [23]:
def convert_percent(val):

SyntaxError: ignored

In [24]:
dataset['Percent Growth'].apply(convert_percent)

NameError: ignored

In [26]:
dataset['Active'] = np.where(dataset["Active"] == "Y",True, False)

In [27]:
dataset

   Customer Number     Customer Name          2016  ... Day  Year Active
0           100002  Quest Industries  $125,000.00   ...  10  2015  False
1           552278    Smith Plumbing  $920,000.00   ...  15  2014  False
2            23477   ACME Industrial   $50,000.00   ...  29  2016  False
3            24900        Brekke LTD  $350,000.00   ...  27  2015  False
4           651029         Harbor Co   $15,000.00   ...   2  2014  False

[5 rows x 10 columns]

In [28]:
pd.to_numeric(dataset['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [31]:
dataset["Start_Date"] = pd.to_datetime(dataset[['Month', 'Day', 'Year']])
dataset["Jan Units"] = pd.to_numeric(dataset['Jan Units'], errors='coerce').fillna(0)

In [30]:
dataset_2 = pd.read_csv(path_,
                        dtype={'Customer Number': 'int'},
                        converters={'2016': convert_currency,
                                    '2017' : convert_currency,
                                    'percent Growth': convert_percent,
                                    'Jan Units' : lambda x: pd.to_numeric(x, errors='coerce'),
                                    'Active': lambda x: np.where(x == "Y", True, False)
                                     })
dataset_2.dtypes

NameError: ignored